<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!</h1>
        <h2>
          404 Página no encontrada</h2>
        <div class="error-details">
          Lo sentimos, se ha producido un error, no se ha encontrado la página solicitada.
        </div>
        <div class="error-actions">
          <button class="btn btn-primary btn-lg" (click)="login()">
            Ir al login</button>
        </div>
      </div>
    </div>
  </div>
</div>
