<div class="jumbotron">
  <div class="container">
    <h2>Lista de Usuarios</h2>
    <div class="row">
      <div class="col table-responsive">
        <table class="table table-sm">
          <tr>
            <th class="bg-info text-white">#</th>
            <th class="bg-info text-white">Nombres</th>
            <th class="bg-info text-white">Ap Paterno</th>
            <th class="bg-info text-white">Ap Materno</th>
            <th class="bg-info text-white">Email</th>
            <th class="bg-info text-white">Rol</th>
            <th class="bg-info text-white">División</th>
            <th class="bg-info text-white">Cargo</th>
            <th class="bg-info text-white">Acción</th>
          </tr>
          <tr *ngFor="let data of usuarios; let index = index">
            <td>{{ index + 1 }}</td>
            <td>{{ data.nombre }}</td>
            <td>{{ data.ap_paterno }}</td>
            <td>{{ data.ap_materno }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.rol_id_rol | rol }}</td>
            <td>{{ data.division_id_division | division }}</td>
            <td>{{ data.cargo_id_cargo | cargo }}</td>
            <td>
              <button class="btn btn-warning btn-sm" (click)="accionEditar(content, data)">Editar</button>
              <button class="btn btn-danger btn-sm" (click)="eliminar(data)">Eliminar</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header bg-success text-white">
    <h4 class="modal-title">Editar Usuario</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="registrar()">
      <div class="form-row">
        <div class="col-sm-4">
          <label>Nombre <span class="text-danger">(*)</span>  </label>
          <input type="text" name="nombre" id="nombre" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }"
                 formControlName="nombre" [(ngModel)]="usuario.nombre" style="text-transform:uppercase">
          <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.nombre.errors.required">Nombre es requerido</div>
          </div>
        </div>
        <div class="col-sm-4">
          <label>Apellido Paterno <span class="text-danger">(*)</span>  </label>
          <input type="text" name="ap_paterno" id="ap_paterno" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.ap_paterno.errors }"
                 formControlName="ap_paterno" [(ngModel)]="usuario.ap_paterno" style="text-transform:uppercase">
          <div *ngIf="submitted && f.ap_paterno.errors" class="invalid-feedback">
            <div *ngIf="f.ap_paterno.errors.required">Apellido Paterno es requerido</div>
          </div>
        </div>
        <div class="col-sm-4">
          <label>Apellido Materno</label>
          <input type="text" name="ap_materno" id="ap_materno" class="form-control"
                 formControlName="ap_materno" [(ngModel)]="usuario.ap_materno" style="text-transform:uppercase">
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-4">
          <label>Email<span class="text-danger">(*)</span></label>
          <input type="email" name="email" id="email" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                 formControlName="email" [(ngModel)]="usuario.email">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email es requerido</div>
            <div *ngIf="f.email.errors.email">Email debe ser una dirección de correo electrónico válida</div>
          </div>
        </div>
        <div class="col-sm-4">
          <label>Rol<span class="text-danger">(*)</span></label>
          <select name="rol" id="rol" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.rol.errors }"
                  formControlName="rol" [(ngModel)]="usuario.rol_id_rol">
            <option *ngFor="let data of roles" [value]="data.id_rol">{{ data.rol }}</option>
          </select>
          <div *ngIf="submitted && f.rol.errors" class="invalid-feedback">
            <div *ngIf="f.rol.errors.required">Rol es requerido</div>
          </div>
        </div>
        <div class="col-sm-4">
          <label>División<span class="text-danger">(*)</span></label>
          <select name="division" id="division" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.division.errors }"
                  formControlName="division" [(ngModel)]="usuario.division_id_division">
            <option *ngFor="let data of divisiones" [value]="data.id_division">{{ data.division }}</option>
          </select>
          <div *ngIf="submitted && f.division.errors" class="invalid-feedback">
            <div *ngIf="f.division.errors.required">División es requerida</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-4">
          <label for="cargo">Cargo <span class="text-danger">(*)</span></label>
          <select name="cargo" id="cargo" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.cargo.errors }"
                  formControlName="cargo" [(ngModel)]="usuario.cargo_id_cargo">
            <option *ngFor="let data of cargos" [value]="data.id_cargo">{{ data.cargo }}</option>
          </select>
          <div *ngIf="submitted && f.cargo.errors" class="invalid-feedback">
            <div *ngIf="f.cargo.errors.required">Repetir la contraseña</div>
          </div>
        </div>
      </div>
      <div class="form-row mt-2">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-right">
          <button class="btn btn-success btn-lg" type="submit">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

