<div class="jumbotron">
  <div class="container">
    <h2>Tickets</h2>
    <div class="row">
      <div class="col text-center" *ngIf="tickets.length == 0">
        <h3 class="text-danger">No hay solicitudes realizadas</h3>
      </div>
      <div class="col table-responsive" *ngIf="tickets.length != 0">
        <table class="table table-bordered table-sm">
          <tr>
            <th class="bg-info text-white">Numero</th>
            <th class="bg-info text-white">Categoría</th>
            <th class="bg-info text-white">Tipo Requerimiento</th>
            <th class="bg-info text-white">Estado</th>
            <th class="bg-info text-white">Asignado</th>
            <th class="bg-info text-white">División</th>
            <th class="bg-info text-white">Fecha Solicitud</th>
            <th class="bg-info text-white">Acción</th>
          </tr>
          <tr *ngFor="let data of tickets">
            <td>{{ data.numero }}</td>
            <td>{{ data.categoria }}</td>
            <td>{{ data.sub_cat }}</td>
            <td>{{ data.estado }}</td>
            <td>{{ data.usuario }}</td>
            <td>{{ data.division }}</td>
            <td>{{ data.fecha_solicitud | date:"dd/MM/yyyy"}}</td>
            <td *ngIf="data.estado_id_estado == 3">
              <button class="btn btn-info btn-sm btn-block" (click)="evaluar(data.id_ticket, content)">Evaluar</button>
              <button class="btn btn-primary btn-sm btn-block" (click)="historial(data.numero, content2)">Historial</button>
            </td>
            <td *ngIf="data.estado_id_estado != 3">
              <button class="btn btn-primary btn-sm btn-block" (click)="historial(data.numero, content2)">Historial</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header bg-success text-white">
    <h4 class="modal-title">Evaluación</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12 text-center">
        <form>
          <p>Calificación: {{ radio | calificacion }}</p>
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="5" [(ngModel)]="radio"><!--
        --><label for="radio1" class="h1">★</label><!--
        --><input id="radio2" type="radio" name="estrellas" value="4" [(ngModel)]="radio" ><!--
        --><label for="radio2" class="h1">★</label><!--
        --><input id="radio3" type="radio" name="estrellas" value="3" [(ngModel)]="radio"><!--
        --><label for="radio3" class="h1">★</label><!--
        --><input id="radio4" type="radio" name="estrellas" value="2" [(ngModel)]="radio"><!--
        --><label for="radio4" class="h1">★</label><!--
        --><input id="radio5" type="radio" name="estrellas" value="1" [(ngModel)]="radio"><!--
        --><label for="radio5" class="h1">★</label>
          </p>
          <button class="btn btn-success btn-lg" (click)="aceptar()">Aceptar</button>
        </form>
      </div>
    </div>
    <hr>
  </div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header bg-success text-white">
    <h4 class="modal-title">Historial Ticket</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>#</th>
          <th>Número</th>
          <th>Estado</th>
          <th>Agente</th>
          <th>Fecha</th>
          <th>Comentario</th>
          <th>Activo</th>
        </tr>
        <tr *ngFor="let data of ticketHistorico; let index = index">
          <td>{{ index + 1 }}</td>
          <td>{{ data.numero }}</td>
          <td>{{ data.estado_id_estado | estado }}</td>
          <td>{{ data.nombre }} {{ data.ap_paterno }} {{ data.ap_materno }}</td>
          <td>{{ data.fecha_registro | date:"dd/MM/yyyy h:mm:ss" }}</td>
          <td>{{ data.comentarios }}</td>
          <td class="text-center">
            <input type="checkbox" [checked]="data.activo" onclick="return false;" onkeydown="return false;" >
          </td>
        </tr>
      </table>
    </div>
    <h3 class="text-center">Solicitud</h3>
    <div class="row">
      <div class="col-sm-6">
        <h5>Descripción: <br></h5>
        <textarea rows="4" disabled class="form-control">{{ requerimiento.descripcion }}</textarea>
      </div>
      <div class="col-sm-6">
        <h5>Tipo Requerimiento: <small>{{ requerimiento.requerimiento }}</small></h5>
        <h5>Departamento: <small>{{ requerimiento.departamento }}</small></h5>
        <h5>Sucursal: <small>{{ requerimiento.sucursal }}</small></h5>
        <h5>Usuario: <small>{{ requerimiento.usuario }}</small></h5>
        <h5>Interno: <small>{{ requerimiento.interno }}</small></h5>
        <h5>Fecha: <small>{{ requerimiento.fecha_registro | date:"dd/MM/yyyy h:mm:ss"}}</small></h5>
      </div>
    </div>
  </div>
</ng-template>
