<div class="jumbotron">
  <div class="container">
    <h2>Tickets</h2>
    <button class="btn btn-success" (click)="general()">General</button>
    <button class="btn btn-warning" (click)="tecnologia()">Tecnologias</button>
    <div>
      <label for="">Ver todos &nbsp;</label>
      <input type="checkbox" [checked]="ver" (click)="verTodos()">
    </div>
    <div class="row">
      <div class="col table-responsive">
        <table class="table table-bordered table-sm">
          <tr>
            <th class="bg-info text-white">Numero</th>
            <th class="bg-info text-white">Categoría</th>
            <th class="bg-info text-white">Tipo Requerimiento</th>
            <th class="bg-info text-white">Estado</th>
            <th class="bg-info text-white">Asignado</th>
            <th class="bg-info text-white">División</th>
            <th class="bg-info text-white">Fecha Solicitud</th>
            <th class="bg-info text-white">Prioridad</th>
            <th class="bg-info text-white">Acción</th>
          </tr>
          <tr *ngFor="let data of tickets">
            <td>{{ data.numero }}</td>
            <td>{{ data.categoria }}</td>
            <td>{{ data.sub_cat }}</td>
            <td>{{ data.estado }}</td>
            <td>{{ data.usuario }}</td>
            <td>{{ data.division }}</td>
            <td>{{ data.fecha_solicitud | date:"dd/MM/yyyy h:mm:ss"}}</td>
            <td>{{ data.prioridad }}</td>
            <td>
              <button class="btn btn-info btn-sm btn-block" (click)="detalle(data.id_ticket, content)">Detalle</button>
              <button class="btn btn-primary btn-sm btn-block" (click)="historial(data.numero, content2)">Historial
              </button>
              <div *ngIf="data.estado != 'Cerrado'">
                <button class="btn btn-warning btn-sm btn-block" (click)="editar(data.numero, content3)">Editar</button>
              </div>

            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header bg-success text-white">
    <h4 class="modal-title">Detalle Ticket</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <h4>{{ tiket.sub_cat }} #{{ tiket.numero }}</h4>
        <h5>Descripción: <br></h5>
        <textarea rows="4" disabled class="form-control">{{ tiket.descripcion }}</textarea>
      </div>
      <div class="col-sm-6">
        <h5>Categoria: <small>{{ tiket.categoria }}</small></h5>
        <h5>Tipo Requerimiento: <small>{{ tiket.sub_cat }}</small></h5>
        <h5>Estado: <small>{{ tiket.estado }}</small></h5>
        <h5>Departamento: <small>{{ tiket.departamento }}</small></h5>
        <h5>Sucursal: <small>{{ tiket.sucursal }}</small></h5>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-8">
        <h4>Ticket</h4>
        <h5 *ngIf="tiket.estado == 'En Proceso'">Ticket procesado por: {{ tiket.usuario }}</h5>
        <h5 *ngIf="tiket.estado == 'Cerrado'">Ticket terminado por: {{ tiket.usuario }}</h5>
        <h5>Fecha: {{ tiket.fecha_ticket |  date:"dd/MM/yyyy h:mm:ss" }}</h5>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-success" (click)="tomarTicket(tiket.id_ticket)" *ngIf="tiket.estado == 'En Espera'">
          Tomar
        </button>
        <button class="btn btn-success" (click)="terminarTicket(tiket.id_ticket)" *ngIf="tiket.estado == 'En Proceso'">
          Terminar
        </button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <h4>Solicitud</h4>
        <h5>Solicitado por: {{ tiket.usuario_requerimiento }}</h5>
        <h5>Fecha: {{ tiket.fecha_solicitud  | date:"dd/MM/yyyy h:mm:ss" }}</h5>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header bg-success text-white">
    <h4 class="modal-title">Historial Ticket</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>#</th>
          <th>Número</th>
          <th>Estado</th>
          <th>Agente</th>
          <th>Fecha</th>
          <th>Activo</th>
        </tr>
        <tr *ngFor="let data of ticketHistorico; let index = index">
          <td>{{ index + 1 }}</td>
          <td>{{ data.numero }}</td>
          <td>{{ data.estado_id_estado | estado }}</td>
          <td>{{ data.nombre }} {{ data.ap_paterno }} {{ data.ap_materno }}</td>
          <td>{{ data.fecha_registro | date:"dd/MM/yyyy h:mm:ss" }}</td>
          <td class="text-center">
            <input type="checkbox" [checked]="data.activo" onclick="return false;" onkeydown="return false;">
          </td>
        </tr>
      </table>
    </div>
    <h3 class="text-center">Solicitud</h3>
    <div class="row">
      <div class="col-sm-6">
        <h5>Descripción: <br></h5>
        <textarea rows="4" disabled class="form-control">{{ requerimiento.descripcion }}</textarea>
      </div>
      <div class="col-sm-6">
        <h5>Tipo Requerimiento: <small>{{ requerimiento.requerimiento }}</small></h5>
        <h5>Departamento: <small>{{ requerimiento.departamento }}</small></h5>
        <h5>Sucursal: <small>{{ requerimiento.sucursal }}</small></h5>
        <h5>Usuario: <small>{{ requerimiento.usuario }}</small></h5>
        <h5>Interno: <small>{{ requerimiento.interno }}</small></h5>
        <h5>Fecha: <small>{{ requerimiento.fecha_registro | date:"dd/MM/yyyy h:mm:ss"}}</small></h5>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #content3 let-modal>
  <div class="modal-header bg-warning text-white">
    <h4 class="modal-title">Edición Ticket</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>#</th>
          <th>Número</th>
          <th>Estado</th>
          <th>Agente</th>
          <th>Fecha</th>
          <th>Activo</th>
        </tr>
        <tr *ngFor="let data of ticketHistorico; let index = index">
          <td>{{ index + 1 }}</td>
          <td>{{ data.numero }}</td>
          <td>{{ data.estado_id_estado | estado }}<br>
            <div *ngIf="data.estado_id_estado == 2">
              <button class="btn btn-warning btn-block btn-sm" (click)="cambiarEstado(data.numero)">Cambiar</button>
            </div>

          </td>
          <td>{{ data.nombre }} {{ data.ap_paterno }} {{ data.ap_materno }}<br>
            <div *ngIf="data.estado_id_estado == 2">
              <button class="btn btn-warning btn-block btn-sm"
                      (click)="cambiarAgente(data.numero, data.id_ticket, content5)">Cambiar
              </button>
            </div>
          </td>
          <td>{{ data.fecha_registro | date:"dd/MM/yyyy h:mm:ss" }}</td>
          <td class="text-center">
            <input type="checkbox" [checked]="data.activo" onclick="return false;" onkeydown="return false;">
          </td>
        </tr>
      </table>
    </div>
    <h3 class="text-center">Solicitud</h3>
    <div class="row">
      <div class="col-sm-6">
        <h5>Descripción: <br></h5>
        <textarea rows="4" disabled class="form-control">{{ requerimiento.descripcion }}</textarea>
        <button class="btn btn-danger btn-sm" (click)="editarRequerimiento(content4, requerimiento.id_requerimiento)">
          Editar
        </button>
      </div>
      <div class="col-sm-6">
        <h5>Tipo Requerimiento: <small>{{ requerimiento.requerimiento }}</small> &nbsp;
        </h5>
        <h5>Departamento: <small>{{ requerimiento.departamento }}</small></h5>
        <h5>Sucursal: <small>{{ requerimiento.sucursal }}</small></h5>
        <h5>Usuario: <small>{{ requerimiento.usuario }}</small></h5>
        <h5>Interno: <small>{{ requerimiento.interno }}</small></h5>
        <h5>Fecha: <small>{{ requerimiento.fecha_registro | date:"dd/MM/yyyy h:mm:ss"}}</small></h5>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #content4 let-modal>
  <div class="modal-header bg-danger text-white">
    <h4 class="modal-title">Confirmar Cambio</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="viewRequerimiento">
      <div class="form-row">
        <div class="col-sm-6">
          <label for="categoria">Tipo Soporte<span class="text-danger">(*)</span></label>
          <select name="categoria" id="categoria" [(ngModel)]="solicitud.categoria_id" class="form-control"
                  (ngModelChange)="tipoRequerimiento()">
            <option *ngFor="let data of categorias" [value]="data.id_categoria">{{ data.categoria }}</option>
          </select>
        </div>
        <div class="col-sm-6">
          <label for="tipo_solicitud">En<span class="text-danger">(*)</span></label>
          <select name="tipo_solicitud" id="tipo_solicitud" [(ngModel)]="solicitud.tipo_requerimiento_id_tipo_req"
                  class="form-control">
            <option *ngFor="let data of tipoRequerimientos" [value]="data.id_tipo_req">{{ data.sub_cat }}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-12">
          <label for="descripcion">Descripción<span class="text-danger">(*)</span></label>
          <textarea class="form-control" id="descripcion" name="descripcion" [(ngModel)]="solicitud.descripcion"
                    rows="3"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-3">
          <label for="municipio">Municipio<span class="text-danger">(*)</span></label>
          <select name="municipio" id="municipio" [(ngModel)]="solicitud.municipio_id" class="form-control"
                  (ngModelChange)="sucursal()">
            <option *ngFor="let data of municipios" [value]="data.id_lugar">{{ data.lugar }}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label for="sucursal">Sucursal<span class="text-danger">(*)</span></label>
          <select name="sucursal" id="sucursal" [(ngModel)]="solicitud.sucursal_id_sucursal"
                  class="form-control">
            <option *ngFor="let data of sucursales" [value]="data.id_sucursal">{{ data.sucursal }}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label for="departamento">Departamento<span class="text-danger">(*)</span></label>
          <select name="departamento" id="departamento" [(ngModel)]="solicitud.departamento_id_departamento"
                  class="form-control">
            <option *ngFor="let data of departamentos"
                    [value]="data.id_departamento">{{ data.departamento }}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label for="interno">Interno<span class="text-danger">(*)</span></label>
          <input type="text" class="form-control" [(ngModel)]="solicitud.interno" name="interno"
                 id="interno">
        </div>
      </div>
      <div class="form-row mt-2">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-right">
          <button class="btn btn-danger btn-lg" type="button" (click)="confirmar()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #content5 let-modal>
  <div class="modal-header bg-danger text-white">
    <h4 class="modal-title">Elegir Agente</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-row">
      <select name="funcionario" id="funcionario" [(ngModel)]="agente.id_usuario" class="form-control">
        <option *ngFor="let data of agentes" [value]="data.id_usuario">
          {{ data.nombre }} {{ data.ap_paterno }} {{ data.ap_materno }} -- {{ data.email }}
        </option>
      </select>
    </div>
    <div class="text-center">
      <button class="btn btn-danger" (click)="cambioAgente()">Elegir</button>
    </div>
  </div>
</ng-template>
